*.m filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.cpt filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J25 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J26 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J27 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J28 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J29 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J30 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J31 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J32 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J33 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J34 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J35 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J36 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J37 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J38 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J39 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J40 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J41 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J42 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J43 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J44 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J45 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J46 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J47 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J48 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J49 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/sourceRadii/manyrs/Lext20_Linv20_lrng7to9/J50 filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J15 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J16 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J17 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J18 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J19 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J20 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J30 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J31 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J32 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J33 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J34 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J35 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J36 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J37 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J38 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J39 filter=lfs diff=lfs merge=lfs -text
/gmt/gmtdata/synthetics/manyrs_rsource2000_Lmax20_lrng7-9/J40 filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.grd filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
